body{
    font-family: Roboto ,sans-serif;
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    /* border: solid red; */
    /* height: 8vh; */
}

.logo{
    color: #f9faf8;
    font-size: 1.4rem;
    font-weight: 800;
    padding-left: 24px;
}

nav{
    display: flex;
    gap: 30px;
    padding-right: 24px;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}