

body{
    font-family: Roboto ,sans-serif;
    background-color: #1f2937;
    /* padding: 15px 80px; */
    /* padding: 2% 10%; */
    /* padding: 0.5em 3em; */
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
    gap: 1rem;
    padding: 1em 3em;
    /* border: solid red; */
    /* height: 8vh; */
}

.logo{
    color: #f9faf8;
    font-size: 1.4rem;
    font-weight: 800;
    /* padding-left: 24px; */
}

nav{
    display: flex;
    gap: 1.9rem;
    /* padding-right: 24px; */
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.hero{
    padding: 0.5em 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* height: 60vh; */
    min-height: 60vh;
    /* justify-content: center; */
    margin-bottom: 2em;
}

.hero_left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main_text{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary_text{
    color: #a4a8ae;
    font-size: 1rem;
}

button{
    max-width: 6rem;
    padding: 0.7em;
    color: #e5e7eb;
    font-weight: bold;
    background-color: #3882f6;
    border: none;
    border-radius: 6px;
}

.hero_image{
    flex: 1;
    min-width: 40vw;
    /* background-color: #e5e7eb; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.info_sec{
    min-height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

.info{
    color: #1f2937;
    font-size: 2rem;
    margin: 1em;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* border: #1f2937 solid; */
    flex-wrap: wrap;
}

.card{
    width: 8em;
    /* flex:1 1 auto; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    /* border: solid red; */
}
.illust{
    width: 7em;
    height: 7em;
    /* flex: 0 5 auto; */
    border: solid #3882f6;
    border-radius: 15px;
}

.card_text{
    color: #757373;
    font-size: .9rem;
}

p{
    margin: 0;
    padding: 0;
}

section.quote{
    background-color: #e5e7eb;
    min-height: 30vh;
    padding: 5em 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.quote_text{
    color: #1f2937;
    align-self: center;
    max-width: 45ch;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: lighter;
}

.author{
    color: #1f2937;
    align-self: flex-end;
    padding-right: 2rem;
    font-weight: 700;
    font-size: 1.2rem;
}